<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOCKET IO</title>
</head>
<body>
<button type="button" onclick="sendMessage()">Send message</button>
<button type="button" onclick="sendUser()">Send user</button>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
        integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
        crossorigin="anonymous"></script>
<script>
    const socket = io();
    socket.on("connection", (socket) => {
        console.log(socket.id); // x8WIv7-mJelg7on_ALbx
        // client-side
    });
    socket.on("connect", () => {
        console.log(socket.id); // x8WIv7-mJelg7on_ALbx
    });

    socket.on("disconnect", () => {
        console.log(socket.id); // undefined
    });
    socket.on("message", (data) => {
        console.log(data); // undefined
    });
    socket.on("user", (data) => {
        console.log("User::", data); // undefined
    });

    function sendMessage() {
        console.log('Send message');
        socket.emit('message', 'test')
    }
     function sendUser() {
        console.log('Send user');
        socket.emit('user', 'test user')
    }
</script>
</body>
</html>