<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nestipy - {{status_code}} - {{status_message}}</title>
    <link rel="stylesheet" href="/_devtools/static/css/error.css">
</head>
<body>
<div class="centered-content">
    <div>
        <img class="resizable-image" src="/_devtools/static/images/404.png" alt="{{status_message}}"/>
    </div>
    <div class="content-details">
        <h3 style="text-transform: uppercase">{{status_code}} - {{status_message}}</h3>
        <p>{{ details}}</p>
    </div>
</div>
</body>
</html>