<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nestipy - {{status_code}} - {{ status_message}}</title>
    <script async defer crossorigin src="/_devtools/static/assets/index-B-G0GPDA.js"></script>
    <link rel="stylesheet" crossorigin href="/_devtools/static/assets/index-BwYKKx4t.css">
</head>
<body>
<div id="error-data" data-json="{{json_data}}"></div>
<div id="root"></div>
</body>
</html>
